@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap');
p {
    font-family: 'Edu SA Beginner', cursive;
}


/* PLANTILLA BASICA */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 70px;
}

ul {
    list-style: none;
}
  
a {
    color: inherit;
    text-decoration: none;
}
  
body {
    margin: 30px 0 10px 0;
    font: 20px sans-serif;
    background-color: black;
    color: white;
}
  
.menu {
    display: flex;
    justify-content: center;
}
  
.menu li {
    margin-right: 20px;
}
  
.menu a {
    position: relative;
    display: block;
    padding: 5px;
}
  
.menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, white, white, white);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}
  
.menu a:hover::before {
    transform: scaleX(1);
}

.menu[data-animation="center"] a::before {
    transform-origin: center;
}

/* CONOCIMIENTOS */

.img-con {
    width: 100px;
    height: 100px;
    border: 3px solid white;
    background-color: white;
    margin-right: 15px;
    margin-left: 15px;
}

.img-con:hover {
    opacity: 0.8;
    cursor: pointer;
}

.contenedor-con {
    width: 100%;
    height: 100px;
    margin: 30px auto;
}

.tit-con {
    font-size: 25px;
    text-align: center;
}

/* FOTO Y PALABRAS */

.hola {
    font-size: 27px;
}

.con-foto {
    width: 40%;
    display: flex;
}

.palabras {
    width: 60%;
    display: flex;
    border-left: 2px solid gray;
    align-items: center;
    padding: 20px;
}

.contenedor {
    width: 90%;
    display: flex;
    margin: auto;
    height: 158px;
}

.foto {
    width: 90%;
}

.letras-palabras {
    font-size: 15px;
}

/* DATOS */

.datos {
    width: 80%;
    height: auto;
    background-color: white;
    border: 5px solid rgb(72, 59, 59);
    margin: 30px auto;
    padding: 20px;
    border-top: 5px solid gray;
    border-left: 5px solid gray;
}

.letra-datos {
    font-size: 17px;
    color: black;
}

.datos-imp {
    font-size: 20px;
}

/* animación de la caja de datos */
.datos {
    color: #fff;
    padding: 3px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.datos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(55deg, gray, white, gray, white);
    background-size: 50% 100%;
}

.datos::before {
    animation: animate_border 1s linear infinite;
}

.datos p {
    padding: 13px 20px;
    position: relative;
    z-index: 2;
}

@keyframes animate_border {
    to {
        transform: translateX(-50%);
    }
}

p {
    cursor: default;
}

/* REDES */
footer {
    width: 100%;
    height: auto;
}

.redes {
    width: 40px;
    border-radius: 50%;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.redes:hover {
    border: 3px solid white;
    cursor: pointer;
    transition: all 0.5s;
}
